<.header>
  Shorten a long link
  <:actions>
    <.link href={~p"/stats"}>
      <.button>See stats</.button>
    </.link>
  </:actions>
</.header>

<.shortned_url_form changeset={@changeset} action={~p"/shortned_urls"} />
